<div class="text-center">
    <div
        class="card-container d-flex justify-content-center align-items-center border border-dark rounded mb-5">
        <p *ngIf="isShown">
            {{action}}
        </p>
    </div>
    <div class="d-flex gap-2 justify-content-center">
        <button type="button" class="btn btn-danger"
            (click)="generateAction()">ACTION
        </button>
        <button type="button" class="btn btn-warning"
            (click)="reset()">Reset
        </button>
    </div>
</div>